
// heights used for the various banner types

@banner-widget-height:      530px;
@banner-widget-height-m:    370px;
@banner-widget-background:  #EAEAEA;
@banner-font-size:          2rem;

.banner-widget {

   .grid();

   // used as large promotion blocks, eg: home page
   &.banner-type-promo {

      height: @banner-widget-height;
      background: @banner-widget-background;

   }

   // used on any regular or pieces-index page to show the title of the page
   // or used on a pieces-show page to the title of the piece
   &.banner-type-page {

      height: @banner-widget-height;

   }

   // adds classes for use as an "inline" widget as used by the feature component for talent/blog posts etc
   &.banner-type-inline {

      height: @banner-widget-height-m;

   }

   article {
      background-size: cover !important;
      background-repeat: no-repeat;
   }

   header {
      .flexbox();
      .flex-direction(column);
      .align-items(center);
      .justify-content(center);

      font-size: @banner-font-size;
      font-family: @accent-font-face;
      text-transform: uppercase;
      background: @banner-widget-background;

   }

   @media @not-mobile {
      .grid-template-columns(1fr 1fr 1fr);

      &.banner-type-inline {
         header {
            .grid-column(2);
         }
      }

      &.banner-type-inline {
         header {
            .grid-column(1);
         }
      }
   }

   @media @mobile {
      .grid-template-columns(1fr 1fr);


      &.banner-type-inline {
         header {
            .grid-column-cover(1, 3);
            .grid-row(1);
         }

         article {
            .grid-row(2);
         }
      }
   }

}
