
// heights used for the various banner types

@banner-widget-height:      530px;
@banner-widget-height-m:    370px;
@banner-widget-background:  #EAEAEA;
@banner-font-size:          2rem;
@banner-font-size-mobile:   @banner-font-size * 0.75;

.banner-widget {

   .grid();
   .grid-template-columns(1fr 1fr 1fr);

   &.banner-type-promo, &.banner-type-page {
      header {
         .grid-column(2);
      }
   }

   &.banner-type-inline {
      header {
         .grid-column(1);
      }
   }

   article {
      background-size: cover !important;
      background-repeat: no-repeat;
   }

   header {
      .flexbox();
      .flex-direction(column);
      .align-items(center);
      .justify-content(center);

      font-size: @banner-font-size;
      font-family: @accent-font-face;
      text-transform: uppercase;
      background: @banner-widget-background;
   }

   @media @not-mobile {

      &.banner-type-promo {
         height: @banner-widget-height;
         background: @banner-widget-background;
      }

      &.banner-type-page {
         height: @banner-widget-height;
      }

      &.banner-type-inline {
         height: @banner-widget-height-m;
      }

   }

   @media @mobile {

      &.banner-type-promo {
         min-height: @banner-widget-height / 2;

         header {
            font-size: @banner-font-size-mobile;
         }
      }

      &.banner-type-page {
         min-height: @banner-widget-height / 2;

         header {
            font-size: @banner-font-size-mobile;
         }
      }

      &.banner-type-inline {
         min-height: @banner-widget-height-m / 2;

         header {
            font-size: 1rem;
         }
      }

   }

}
