{%- macro bannerWidgetHeader (widget, name = 'text') -%}
   <header class="regular-text">
      {{ apos.singleton(widget, 'text', 'apostrophe-rich-text') }}
   </header>
{%- endmacro -%}

{%- macro bannerContextHeader (context) -%}
   {%- set headerContext  = data.piece or data.page -%}
   {%- set headerText  = headerContext.title -%}

   <header class="regular-text">
      <p>~</p>
      {%- if headerText -%}
      <p>{{ headerText }}</p>
      <p>~</p>
      {%- endif -%}
   </header>
{%- endmacro -%}

{%- macro pageBanner (context, images) -%}
   {{ banner('page', context, images or context) }}
{%- endmacro -%}

{%- macro banner (layout, data, images) -%}
<section class="block grid-layout no-grid-gap banner-widget banner-type-{{ layout }}">
   {%- if layout == 'page' -%}
      {{ bannerContextHeader(data.piece or data.page) }}
   {%- elif layout -%}
      {{ bannerWidgetHeader(data.widget, 'text') }}
   {%- endif -%}

   {%- set imageGroup = images or data.widget or data.piece or data.page -%}
   {%- for image in apos.images.all(imageGroup) | max(2) -%}
   {%- set imageSrc = apos.attachments.url(image) -%}

   <article
      style="background-image: url('{{ imageSrc }}') {{ image | focalPoint }}; background-size: cover"
   >
      <img
         alt="{{ image.title }}"
         src="{{ imageSrc }}"
         style="display: none"

      >
   </article>

   {% endfor %}
</section>

{%- endmacro -%}
